<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
  <h1 style="background-color: chartreuse; ">Appointment Details</h1>
  <p>
    Hello <%= @appointment.user.name %>,<br>
    Your appointment has been created on <%= @appointment.updated_at %>and will be scheduled under 2 days.<br>
    Following are the details for appointment:<br>
    Description: <%= @appointment.description %><br>
    Hospital: <%= @appointment.hospital.name %><br>
    Test Center: <%= @appointment.test_center.name %><br>
    Location: <%= @appointment.test_center.location %><br>
    Status: <%= @appointment.status %><br>
    
    Thank you for using our service!<br>
    
    Regards,<br>
    Healthcare Management
  </p>
</body>
</html>
